
.card-close{
    position: absolute;
    top: 5px;
    right:  5px;
}
.extended-group{
    display: none;
}
.btn-showMore{
border: 1px solid #0093E9;
    border-radius: 3px;
}

.drag-item{
    /*cursor: move;*/
    display: flex;
    justify-content: center;
    height: max-content
}
.card-wrapper{
    position: relative;
    width: 16rem;
    display: flex;
    justify-content: center;
    height: max-content;
}
.card{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    font-family: 'PT Sans', sans-serif;
    border: 3px solid #0093E9;
    margin: 10px;
    /*position: absolute;*/
}


.list-group-item{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    font-family: 'PT Sans', sans-serif;
}

.description-card{
    font-weight: bold;
}

.patient-name{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}

.card-doctor{
    padding-top: 15px;
    text-align: center;
}

.doctor-bold{
    font-weight: bold;
}

.btn-edit{
    text-align: center;
    width: 100%;

}

.card-body{
    margin: 0 auto;

}

.registration-num{
    font-size: 15px;
    font-weight: normal;
}

.d-none{
    display: none;
}

.registration-num{
    display: flex;
    align-items: center;
    justify-content: center
}

.list-group-item[data-status='open']{
    background-color: green;
}
.list-group-item[data-status='done']{
    background-color: gray;
}
.list-group-item{
    display: inline;
    height: auto;
}
.list-group-item p {
    margin: 0;
    display: inline;
}

.visit-priority{
   text-align: center;
  font-weight: bold;
    width: 100%;
    color: darkred;
}

.no-items{
    padding-top: 50px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: blue;
}

.new-visit{
    font-family: 'PT Sans', sans-serif;
}

.doctor-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

.doctor-image{

    width: 300px;
}

.button-close{
    width: 20px;
    height: 20px;
    position: fixed;
    background: none;
    border: none;
    bottom: 195px;
    left: 215px;
}

.doctor-close{
    width: 30px;
    height: 30px;
}
.red-mess{
    color: red;
    font-size: 12px;
    margin-top: -7px;
    padding-bottom: 4px;
}