
.filter-form{
    align-items: flex-end;
}
.btn-search{
    width: 100px;
}

.search-input{
    background-image: url("../img/Lupa.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px;
}
.form-control{
    padding-left: 60px;
    border-color: #0d6efd;
}
.form-select{
    border-color: #0d6efd;
}

