@import './cards.css';

.p-5{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}


#box {
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
}


.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #009A9C, #00DBDE, #ef4e7b, #1030FF, #00DBDE, #ef4e7b, #1030FF);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.logo{
    width: 64px;
}

.field {
    width: 100%;
    min-height: 600px;
    border: blue solid 2px;
    border-radius: 5px;
    margin-top: 50px;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    overflow: hidden;
}

/*.navbar-brand{*/
/*    padding-left: 30px;*/
/*}*/
.form-search {
    display: flex;
    max-width: 900px;
}

.field-text {
    text-align: center;
    margin-top: 100px;
}

.modal1 {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content {
    min-height: 100px;
    width: 30%;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    background-color: whitesmoke;
    border: 1px solid #ccf4b1;
    border-radius: 5px;
    margin: 5% auto;
    padding: 20px;
    position: relative;
}

.modal1-title {
    border-bottom: 2px solid #000000;
    font-size: 25px;
    margin-bottom: 10px;
}

.modal1-close {
    color: #0f0f0f;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.add-btn{
    border-radius: 5px;
    background-color: #007bff;
    color: #E9EDEF;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-left: 72% ;
}
.entry-field-modal{
    display: flex;
    flex-direction: column;
}
.modal-input{
    border-radius: 5px;
    margin-bottom: 5px;
    border:1px solid #007bff;
    background-color: aliceblue;
}
.dropdown{
    margin: 5px 0;
}
.invalid-data{
    border-color: red;
}



